{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{% static 'register/fonts/linearicons/style.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'register/css/style.css' %}">
	</head>

	<body>
		<div class="wrapper">
			<div class="inner">
				<img src="{% static 'register/images/image-1.png' %}" alt="" class="image-1">
				<form action="register" method="post" name="registration">
					{% csrf_token %}

					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" id="username" name="username" placeholder="Username">
					</div>

					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="email" class="form-control" name="email" placeholder="Mail">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" name="password2" placeholder="Confirm Password">
					</div>
					<button onclick="myFunction()">
						<span>Register</span>
					</button>
				</form>

				{% for msg in messages %}
				{{msg}}
				{% endfor %}

				<img src="{% static 'register/images/image-2.png' %}" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="{% static 'register/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'register/js/main.js' %}"></script>


	<script>
		  function myFunction() {
			var user = document.forms["registration"]["username"].value;
			var pass = document.forms["registration"]["password"].value;
			var mail = document.forms["registration"]["email"].value;
			if (user == "")
			{
			alert("Please enter username");
			}
			else if (mail == "")
			{
			alert("Please enter your Email-ID");
			}
			else if(pass == "")
			{
			alert("Please enter password");
			}
			else
			{
			alert("Go...."
			}
			}



	</script>



	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>